  .card{
    position:relative;
  }
  
  .card-img {
    width: 100%;
    max-width:150px;
    border-radius: calc(0.3rem - 0px);
  }
  
  .card-img-top {
    border-radius: 32px;
    opacity: 0.5;
    width:150px;
  }
  
  .card-img-top:hover {
    opacity: 1;
  }
  
  .banner-content{
    position:absolute;
    top:0;
    left:0;
    display:none;
  }
  
  .card-img-top:hover + .banner-content{display:block;}
