.img-carousel {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

#stylish {
    background-color: #AABCEE;
    background-blend-mode: overlay;
    height: 100vh;
}

#title {
    font-weight: bold;
    font-size: 5em;
    color: white;
    letter-spacing: 0.05em;
}

#subtitle {
    align-items: center;
    font-weight: bold;
    color: white;
    margin-top: 10vh;
}

#categories {
    color: white;
}

#btn {
    background-color: #456CD9
}